<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Install League of Legends na</string>
	<key>CFBundleExecutable</key>
	<string>RiotClientServices</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.riotgames.RiotGames.RiotClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Install League of Legends na</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FileVersion</key>
	<string>83.0.0.0</string>
	<key>LSUIElement</key>
	<integer>1</integer>
	<key>NSMainNibFile</key>
	<string>MainMenu.nib</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>RiotClient needs access to the microphone for voice chat</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>com.apple.security.device.audio-input</key>
	<true/>
	<key>com.apple.security.device.microphone</key>
	<true/>
</dict>
</plist>
